<!doctype html>
<html>
<head>
    <title>Mean Stack 282</title>
</head>
<body>
	<header><img src="/img/logo.jpg" alt="Mean Stack 282" width="270" height="170"></header>
    {{{body}}}
</body>
</html>
